body {
  /* background: #f9f7fe; */
  font-family: "Space Grotesk";
  /* background: radial-gradient(circle at 18.7% 37.8%, rgb(250, 250, 250) 0%, rgb(225, 234, 238) 90%); */
  background: linear-gradient(to bottom, #dce8f5, #f0f4f8);
}

.current-temperature-value {
  font-size: 80px;
  font-weight: 900;
  color: #3d3d4e;
}

.current-temperature-unit {
  font-size: 28px;
  position: relative;
  color: #3d3d4e;
  top: -38px;
}

.current-temperature-icon {
  width: 88px;
  height: 88px;

}

.current-temperature {
  display: flex;
  align-items: center;
  color: #111820;
  /* color: #3d3d4e; */
  font-size: 88px;
  font-weight: bold;
  line-height: 88px;
}

.current-weather {
  display: flex;
  justify-content: space-between;
}

.search-input {
  background-color: #f9f7fe;
  border: none;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  padding: 20px;
  width: 75%;
  border-radius: 6px;
}

.search-button {
  cursor: pointer;
  margin-left: 5px;
  font-size: 16px;
  background-color: #8faec7 ;
  /* color: #e8e4f8; */
  color: white;
  border: none;
  padding: 20px;
  line-height: 1;
  border-radius: 5px;
}

.weather-app {
  /* background: white; */
  /* background-color: rgba(255, 255, 255, 0.85); */
  background: linear-gradient(135deg, #ffffff 0%, #e8f2fb 60%, #cee0f0 100%);
  max-width: 600px;
  margin: 60px auto;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
}

.current-city {
  color: #3d3d4e;
  font-size: 38px;
  font-weight: 900;
  margin: 0;
}

.current-details {
  /* color: rgba(39, 33, 66, 0.4); */
  color: #6b6b80;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.current-details strong {
  color: #4a4a6a;
}

header {
  border-bottom: 1px solid #f9f7fe;
  padding-bottom: 30px;
}

footer {
  text-align: center;
  color: rgba(39, 33, 66, 0.4);
  border-top: 1px solid #f9f7fe;
  padding-top: 15px;
}

main {
  padding: 30px 0;
}

.weather-forecast {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.weather-forecast-date {
  text-align: center;
  font-weight: bold;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 10px;
}

.weather-forecast-icon {
  width: 88px;
  height: 88px;
  display: block;
  margin: 0 auto;
}
.weather-forecast-temperatures {
  text-align: center;
  color: #3d3d4e;;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.weather-forecast-temperature {
  padding: 0 4px;
}


